.ui-btn {
  outline: none;
  padding: 0 15px;
  line-height: 1.5;
  border-radius: 4px;
  height: 32px;
  font-size: 14px;
  border: 1px solid $bf-secondary;
  cursor: pointer;
  background-color: $bf-lighter;
  &:hover {
    color: $theme-primary;
    border-color: $theme-primary
  }

  &:active {
    outline: 0;
    box-shadow: none;
    background-color: $bf-lighter;
    border-color: $theme-dark;
    color: $theme-dark;
  }
}
