.ui-carousel {
    position: relative;
    height: 150px;
    > div {
        height: 150px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    button {
        position: absolute;
        bottom: 0;
        z-index: 100;
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
    }
}