@import 'common/var';
@import 'button';
@import 'carousel';
@import 'fade';

.theme-list {
    list-style: none;
    padding: 0;
    li {
        float: left;
        width:100px;
        height:100px;
        margin: 10px;
        &.black {
            background: $black;
        }
    }
}